.container {
    height: 512px; /* Высота контейнера */
    width: auto;
}

.imageContainer {
    height: 512px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    width: 512px;
    overflow-x: hidden;
  }
  
  .imageContainer img {
    height: 512px;
    width: max-content;
  }


