@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.app {
    margin: 0 auto;
    color: black;
    margin: 0 auto;
    font-family: Inter;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.container {
    display: flex;
    margin-left: 48px;
}
.info{
    margin-left: 48px;
}
.pagination {
    margin-left: 48px;
}
.addImage{
    margin-left: 48px;
}